iso3166
networkx
pydantic
pyhumps
requests
Sphinx
sphinx_rtd_theme
typeguard
# any dependency here should also be a dependency in the docs section of tox.ini
# see issue https://github.com/bo4e/BO4E-python/issues/474 for a real fix that does not require manual adaptions
